html,
body {
    width: 100%;
    height: 100%;
}

/*title doggo adoption*/

.jumbotron {
    text-align: center;

}


h2 {
    font-family: 'Lora', serif;

}

h3 {
    text-align: center;
}


.jumbotron {
    background: #9ACD32;
}


#care {
    width: 100%;
    color: white;
    text-align: center;
    background: olivedrab;
    margin: 0 auto;
}



p {
    font-size: 15px;
    font-family: 'Lora', serif;
}


#places {
    color: white;
    text-align: center;
    width: 100%;
    background: #A0522D;
}


 /* unvisited link */
    a:link {
        color: white;
    }

    /* visited link */
    a:visited {
        color: black;
    }

    /* mouse over link */
    a:hover {
        color: hotpink;
    }

    /* selected link */
    a:active {
        color: blue;
    }


/*sm*/

@media(min-width:768px) {
    h1 {
        font-size: 60px
    }
    h2 {
        font-size: 20px;
    }

   
}
    /*sm*/
    @media(min-width:768px){
        h1 {
            font-size: 60px
        }
        h2 {
            font-size: 10px
        }
    }


    /*md+*/
    @media(min-width:992px){
        h1 {
            font-size: 80px
        }
        h2 {
            font-size: 30px;
        }
    }

    /*lg*/
    @media(min-width:1200px) {
        h1 {
            font-size: 100px
        }
        h2 {
            font-size: 50px
        }
    }

    #video {
        padding-top:20px;
        text-align: center;
    }
    #info{
        width: 100%;
        background:'ligthbrown';
    }
    #hidediv{
       text-align: center; 
    }

#showingdiv{
    display:none;
    text-align:center;
    object-fit: cover;
}